.logo {
  margin-top: -40px;
}
h1 {
  margin-top: 24px;
}
.oneunder {
 margin-top: 96vh;
 top:-40px;
}
.font-s {
  font-size: 12px;
  padding-top: 2px;
}
.font-xs {
  font-size: 8px;
  color: #fff;
}
